<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NugetOrg" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="NuGetOrg" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>
